html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #c9c9c5;
  font-family: 'Courier New', Courier, monospace;
  align-content: center;

}

.container {
    max-width: fit-content;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 32px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#sizeSelect {
    margin-left: 20px;
}

h1, h2 {
    text-align: center;
}

.matrix {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.matrix-container {
    margin: 15px;
}

#matrixA, #matrixB {
    display: grid;
    gap: 15px;
    justify-content: center;
    margin: 15px;
}

input {
    width: 40px;
    text-align: center;
    border-radius: 8px;
    background-color: transparent;
    border-color: black;
    font-family: 'Courier New', Courier, monospace;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button {
    padding: 6px 10px;
    margin: 5px;
    border-radius: 8px;
    background-color: transparent;
    border-color: black;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    background-color: #daf5bc;
}

select {
    padding: 8px 12px;
    border-radius: 8px;
    background-color: transparent;
    border-color: black;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

.operations {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.message {
    color: red;
    text-align: center;
    margin-top: 10px;
}